#entry-container {
    height: 100%;
    /* border: red solid 3px; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 82% 10%;
    /* justify-content: space-around; */
    align-content: center;
    /* row-gap: 5px; */
}

/* #navigation {
    border: black solid 2px;
} */

#expense-container {
    border: blue solid 2px;
}

#category-form {
    border: black solid 2px;
}