#entry-container {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 84% 10%;
    /* justify-content: space-around; */
    align-content: center;
    /* row-gap: 5px; */
}

#navigation {
    /* border: red solid 2px; */
    height: fit-content;
}

#expense-container {
    border: blue solid 2px;
}

#category-form {
    border: black solid 2px;
}