/* #welcome {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 20px;
}

#user-name {
    font-size: 30px;
} */

#welcome{
    font-size: 15px;
    color: white;
    float: right;
    margin-top: 10px;
}