#main {
    background-color: #efffff;
    /* height: 90vh; */
}

header{
    /* position: fixed; */
    width: 100%;
    height : 80px;
    background-color: #90c1c5;
    font-size: 50px;
    padding-left: 20px;
}
main {
    /* height: 80vh; */
    background-color: #efffff;
    display: grid;
    grid-template-columns: 35% 55%;
    grid-template-rows: 80%;
    justify-content: space-evenly;
    align-content: center;
    column-gap: 50px;


}

footer {
    background-color: #90c1c5;
    position: absolute;
    bottom : 0px;
    width: 100%;
    height: 80px;
}