#main {
    background-color: #efffff;
    /* height: 90vh; */
}

#main header{
    /* position: fixed; */
    width: 100%;
    height : 80px;
    background-color: #90c1c5;
    font-size: 50px;
    padding-left: 17px;
}
#main main {
    height: calc(100vh - 160px);
    background-color: #efffff;
    display: grid;
    grid-template-columns: 58% 38%;
    grid-template-rows: 98%;
    padding-bottom: 7px;
    justify-content: space-around;
    align-content: center;
    /* column-gap: 10px; */

}
/* #main #profile-container {
    border: green solid 3px;
} */


#main #extra-feature {
    border: green solid 3px;
    display:grid;
    grid-template-columns: 90%;
    grid-template-rows: 50% 50%;
    justify-content: space-around;
    align-content: center;
    row-gap: 3px;
}

#budget-container {
    border: black solid 2px;
}

#chart-container { 
    border: black solid 2px;
}

#main footer {
    background-color: #90c1c5;
    position: absolute;
    bottom : 0px;
    width: 100%;
    height: 80px;
}