.navbar {
    background-color: rgba(255, 255, 255, 0.06);   
    height: auto !important;
    margin:5px;
}

.month {
    color: white;
    font-weight: normal;
    font-size: large;
    padding-top: 0;
    padding-bottom: 0;
    /* align-items: center; */
}

.selectedMonth {
    text-decoration: underline;
    font-weight: bold;
}

a.month.nav-link:focus{
    background-color: #1a3931;
    color: white;
    font-weight: bold;
}