.navbar {
    background-color: #3d8180;   
    height: auto !important;
}

.month {
    color: white;
    font-weight: bold;
    font-size: large;
    padding-top: 0;
    padding-bottom: 0;
    /* align-items: center; */
}

a.month.nav-link:focus{
    color:rgb(212, 255, 0);
}